@{
    ViewData["Title"] = "About this Project";
}
<h1 class="mb-5">@ViewData["Title"]</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">Course</th>
            <td>Applied Software Architecture (PROG1344A)</td>
        </tr>
        <tr>
            <th scope="row">Assignment</th>
            <td>A1 - Auto Detailing Appointment Booking</td>
        </tr>
        <tr>
            <th scope="row">Team</th>
            <td>
                <ol>
                    <li>Student 1</li>
                    <li>Student 2</li>
                </ol>
            </td>
        </tr>
    </tbody>
</table>

